@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-to-b {
    background-image: linear-gradient(90deg, #FA0101 0%, #016DEA 100%);
  }

  .text-gradient {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #FA0101 0%, #016DEA 100%); /* Your gradient colors */
    -webkit-background-clip: text; /* Clip text to the background's shape */
    background-clip: text;
    color: transparent; /* Make the original text transparent */
  }
  
  /* Optional: Add animation */
  .text-gradient::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #000; /* Fallback color for older browsers */
    animation: gradientText 3s linear infinite;
  }
  
  /* Animation for text gradient */
  @keyframes gradientText {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }